/* Shared Styles */

    .inter{
  font-family: "Inter", sans-serif;

}
.flex{
    display: flex;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.max{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
   
    
}

    /*  style */


/* nav styles */
header{
    background-color: rgba(26, 11, 46, 1);
    display: none;
    
}


nav{
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
   

}

nav ul{
    gap: 50px;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: rgb(255, 251, 251);
    line-height: 120%;
    font-size: 1rem;
}
 hr{
    background-color: rgba(65, 37, 103, 1);
    height: 1px;
    border: none;
    margin-top: 20px;
    
} 
nav span{
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.p-btn{
background: #F7E93F;
background: linear-gradient(14deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
padding: 12px 16px;
border-radius: 20px;
color: white;
border: none;
font-weight: 550;
}.hidden{
    display: none;
}

/* nav styles end */

/* grid-cards */
.grid-card{
    text-align: center;
    background-color: rgba(35, 14, 61, 1);
    display: none;
    

    
}
.grid-card h1,.episode-container h1{
    color: white;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
   
}
.grid-container > *{
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: left;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 30px;
    color: white;
    align-content: center;
    border-radius: 40px;
    
    
}

.box-1{
    grid-row: span 2; 
}
.grid-container h4{
    
    font-weight: 700;
    font-size: 1.25rem;
    color: white; 
    margin-bottom: 10px;
    margin-top: 20px;
}
.grid-container p{
    font-size: 1rem;
    line-height: 24px;
    opacity: 40%;

}
.box-2,.box-3,.box-4{
    grid-column: span 3;
   
}

/* episodes */
.episode-container{
    background-color: #1A0B2E;
    
}
.epi-content{
    text-align: center;
}
.v-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 15px;
    text-align: left;
    border-radius: 20px;
}

.v-grid div iframe{
    
  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;

}
.v-grid div{
    background-color: #250D44;
    border-radius: 20px;
}
.v-grid div > *{
    margin-bottom:20px;
}
.v-grid h2{
    font-size: 1.50rem;
    font-weight: 800;
    color: #ffffff;
    padding-left: 20px;

}
.v-grid p{
    opacity: 60%;
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff;
    
    padding-left: 20px;
}
.clock{
    
    

}
.clock p{
    padding-left: 5px;
    line-height: 24px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
}
.clock img{
    margin-left: 20px;
    width: 24px;
    
}

/* small device */
@media screen and (max-width:576px){
    nav ul li,nav button{
        display: none;
        
        
    }
    .hidden{
        display: block;
    }
    header{
        overflow: hidden;
    }
    .grid-container,.v-grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);

        padding: 0px 20px;
    }

    .box-1,.box-5{
        grid-column: span 3;
        
    }
  .grid-card h1{
    font-size: 2rem;
    padding-top: 20px;
  }
  .epi-content h1{
    font-size: 2rem;
    padding-top: 20px;
  }
   
    

}
