/* Shared Styles */

    .inter{
  font-family: "Inter", sans-serif;

}
.flex{
    display: flex;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.max{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

    /*  style */


/* nav styles */
header{
    background-color: rgba(26, 11, 46, 1);
    
}


nav{
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
   

}

nav ul{
    gap: 50px;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: rgb(255, 251, 251);
    line-height: 120%;
    font-size: 1rem;
}
 hr{
    background-color: rgba(65, 37, 103, 1);
    height: 1px;
    border: none;
    margin-top: 20px;
    
} 
nav span{
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
nav button{
background: #F7E93F;
background: linear-gradient(14deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
padding: 12px 16px;
border-radius: 20px;
color: white;
border: none;
font-weight: 550;
}.hidden{
    display: none;
}

/* nav styles end */


/* small device */
@media screen and (max-width:576px){
    nav ul,button{
        visibility: hidden;
    }
    nav{
        justify-content: space-evenly;
        width: 500px;
    }
    .hidden{
        display: block;
        
       
    }


}