/* Shared Styles */

    .inter{
  font-family: "Inter", sans-serif;

}
.flex{
    display: flex;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.max{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
   
    
}
header,.grid-card,.episode-container,.host,.about,.star-section{               /*display none*/
    /* display: none;                           */
}

    /*  style */


/* nav styles */
header,.about{
    background-color: rgba(26, 11, 46, 1);
    
    
}


nav{
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
   

}

nav ul{
    gap: 50px;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: rgb(255, 251, 251);
    line-height: 120%;
    font-size: 1rem;
}

nav ul li:hover{
    background-color: #533C72;
    border-radius: 5px;
    
    
}
 hr{
    background-color: rgba(65, 37, 103, 1);
    height: 1px;
    border: none;
    margin-top: 20px;
    
} 
nav span,footer span{
 background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
#logo{
    color: #ffffff;
    font-weight: 700;
}
.p-btn{
background: #F7E93F;
background: linear-gradient(14deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
padding: 12px 16px;
border-radius: 20px;
color: white;
border: none;
font-weight: 550;
}.hidden{
    display: none;
}

/* nav styles end */

/* grid-cards */
.grid-card{
    text-align: center;
    background-color: rgba(35, 14, 61, 1);
    /* display: none; */
    padding-bottom: 100px;
    

    
}

.grid-card h1,.episode-container h1{
    color: white;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
   
}
.grid-container > *{
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: left;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 30px;
    color: white;
    align-content: center;
    border-radius: 40px;
    
    
}

.box-1{
    grid-row: span 2; 
}
.grid-container h4{
    
    font-weight: 700;
    font-size: 1.25rem;
    color: white; 
    margin-bottom: 10px;
    margin-top: 20px;
}
.grid-container p{
    font-size: 1rem;
    line-height: 24px;
    opacity: 40%;

}
.box-2,.box-3,.box-4{
    grid-column: span 3;
   
}

/* episodes */
.episode-container{
    background-color: #1A0B2E;
    
}
.epi-content{
    text-align: center;
}
.v-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 15px;
    text-align: left;
    border-radius: 20px;
}

.v-grid div iframe{
    
  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;

}
.v-grid div{
    background-color: #250D44;
    border-radius: 20px;
}
.v-grid div > *{
    margin-bottom:20px;
}
.v-grid h2{
    font-size: 1.50rem;
    font-weight: 800;
    color: #ffffff;
    padding-left: 20px;

}
.v-grid p{
    opacity: 60%;
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff;
    
    padding-left: 20px;
}
.clock{
    
    

}
.clock p{
    padding-left: 5px;
    line-height: 24px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
}
.clock img{
    margin-left: 20px;
    width: 24px;
    
}
/* host section */
.host{
    text-align: center;
    
    /* margin-top: 100px; */
    background-color: #1A0B2E;
    padding-bottom: 150px;
    padding-top: 100px;
}
.host-content{
     background-color: #260e42;
     padding: 40px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
     border-radius:25px;
}

.host-text{
    text-align: left;
   
   justify-content: center;
    display: flex;
   flex-direction: column;
   padding-bottom: 20px;
   padding-left: 20px;
  
   

}
.icons{
    display: flex;
    align-items: center;
    
    
   
    
}
.icon-container{
    border: 1px solid #533C72;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}
.icons img{
    
 
    
    padding: 10px;
    width: 38px;
    height: 37px;
    

}
.host h1{
     color: white;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
}
.host-text h2{
    font-weight: 700;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}
.host-text p{
    line-height: 24px;
    font-size: 1rem;
    opacity: 60%;
    color: #ffffff;
    margin-bottom: 20px;
}

/* star section */
.star-section{
    background-color: rgba(26, 11, 46, 1);
    padding-bottom: 100px;
    padding-top: 100px;
}
.star-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    text-align: center;
    
}
.star-content h1{
    color: #00FF88;
    font-size: 2.85rem;
    font-weight: 700;
}
.star-content p{
    font-size: 1rem;
    line-height: 20px;
    opacity: 60%;
    color: white;
    font-size: 1rem;
    line-height: 20px;
    margin-top: 10px;
}
/* about section */

.about-content{
    text-align: center;
}
.about-content h1{
    font-size: 3rem;
    font-weight: 700;
    color: white;
}
.about-content p{
    font-size: 1rem;
    line-height: 20px;
    opacity: 60%;
    color: #ffffff;
    padding-bottom: 80px;
    max-width: 700px;
    margin: 30px auto;
}

/* footer */
footer{
    background-color: #201041;
    text-align: center;
    background-image: url(../images/footer-bg.png);
    min-height: 412px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
    
    
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
      min-height: 412px;
}

.footer-content{
  
    color: white;
    max-width: 590px;
    margin: 0 auto; 
  
    
    
}
.footer-content p{
    font-size: 1rem;
    opacity: 60%;
    line-height: 24px;
    color: white;
}
.footer-content h1{
    font-size: 4rem;
}

.icons-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    


}
.icons{
    padding-bottom: 20px;

}
#margin{
    margin-right: 30px;
}
#margin-right{
    margin-left: 15px;
}


    

/* small device */
@media screen and (max-width:576px){
    nav ul li,nav button{
        display: none;
        
        
    }
    .hidden{
        display: block;
    }
    header{
        overflow: hidden;
    }
    .grid-container,.v-grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);

        padding: 0px 20px;
    }

    .box-1,.box-5{
        grid-column: span 3;
        
    }
  .grid-card h1{
    font-size: 2rem;
    padding-top: 20px;
  }
  .epi-content h1{
    font-size: 2rem;
    padding-top: 20px;
  }
  .host{
    padding: 20px;
  }
   .host-content{
    flex-direction: column;
    
    
   }
   .host-text{
    text-align: center;
    padding-left: 0px;
   }
   .icons{
    
    max-width: max-content;
    margin: 0 auto;
   }
   .star-grid{
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
   }
   .about-content{
    padding: 20px;
    
   }
   .about-content p{
    padding-bottom: 80px;
   }
  .about{
    padding-top: 50px;
  }
  .star-section{
    padding-top: 50px;
  }
 .icons-grid{
    grid-template-columns: repeat(2,1fr);
   
    margin-top: 35px;
    max-width: 300px;
    
    
 }
.icons{
    
   
   

}

  
    

}
